* {
    text-align: center;
}
img {
    display: block;
    width: 20%;
    align-items: center;
    margin: 0 auto;
}
.ingredients > li {
    margin: 0 auto;
    padding:0;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: -40px;
}
div {
    padding:0 40%;
}